# 기본 정책
* text=auto eol=lf

# Gradle wrapper
gradlew text eol=lf
*.bat text eol=crlf

# Source / docs / scripts
*.java text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.js text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.sql text eol=lf

# Binary
*.jar binary
*.class binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary